@import '../../globals';

.modal {
    &.overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        text-align: center;
    }
    .content {
        display: inline-block;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        text-align: left;
        z-index: 1;
        min-width: 40%;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 200px;
        padding: 25px;
        animation: 0.5s enter ease;
        background-color: white;
        border-radius: 25px;
        svg {
            color: #15afb2;
            font-size: 15px;
        }
        svg:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
        h2 {
            text-align: center;
        }
        .text {
            overflow: auto;
            max-height: 65vh;
        }
    }
}

@keyframes enter {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
