@import '../../globals';

.contact {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 15px;
    i {
        display: inline;
        padding-right: 5px;
    }
    p {
        display: inline;
    }
}
