@import '../../globals';
@import '~blip-toolkit/dist/blip-toolkit.css';

.tracing {
    h1,
    small {
        display: inline-block;
    }
}

.tracing-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.bp-input-wrapper {
    width: 500px;
    margin-left: 10px;
    margin-right: 20px;
}

.filter-area {
    display: flex;
    align-items: center;
}
